.header{
    grid-area: h;
    display: flex;
    align-items: center;
    background-color: #da463a;
    padding: 20px 20px 20px 20px;
    max-height: 135px;
}
.logo{
    margin-right: 40px;
}
.logo img{
    width: 120px;
    height: 120px;
    border-radius: 50%;

}