.Navbar{
    grid-area: n;
}
.list{
    list-style: none;
    padding: 0;
    display: flex;
     align-items: center;
}
.list > li{
   margin-right: 30px;
}
.list > li > a{
    font-family: Tahoma,sans-serif;
    font-size: 18px;
    text-decoration: none;
    color:#ffffff;
}
.list > li > a.active{
    color:gold;
}